@import "@/app/screens.scss";

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 8rem;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  background-color: #000000;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;

  img {
    width: 2rem;
    height: 2rem;

    @include respond(desktop-s) {
      width: 3rem;
      height: 3rem;
    }
  }

  span {
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: bold;

    @include respond(desktop-s) {
      font-size: var(--m);
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 3rem;

  @include respond(tab-l) {
    gap: 5rem;
  }
}

.action {
  display: none !important;

  @include respond(mobile) {
    display: flex !important;
  }
}

.burger {
  cursor: pointer;
  font-size: 2.8rem;
  display: flex;

  @include respond(tab-l) {
    display: none;
  }
}