@tailwind base;
@tailwind components;
@tailwind utilities;

//:root {
//  --black: #000000;
//  --white: #FFFFFF;
//  --primary: #F91942;
//  --gray: #191B20;
//
//  --s: 1.6rem;
//  --m: 2.4rem;
//  --l: 3.2rem;
//  --xl: 4.8rem;
//
//  --mobile: 375px;
//}

html {
  font-size: 62.5%;
}

body {
  @apply bg-black text-white text-s;
}

.my-container {
  @apply mx-[3rem];
}

.perspective {
  perspective: 150rem;
  -moz-perspective: 150rem;
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}

.card-front {
  transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 1s ease-out;
}

.card-back {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 1s ease-out;
}

.card-back-content {
  transform: rotateY(180deg);
}

::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

.loader {
  border: 3px solid #FFFFFF;
  border-top: 3px solid #F91942;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

//:root {
//  --foreground-rgb: 0, 0, 0;
//  --background-start-rgb: 214, 219, 220;
//  --background-end-rgb: 255, 255, 255;
//}
//
//@media (prefers-color-scheme: dark) {
//  :root {
//    --foreground-rgb: 255, 255, 255;
//    --background-start-rgb: 0, 0, 0;
//    --background-end-rgb: 0, 0, 0;
//  }
//}
//
//body {
//  color: rgb(var(--foreground-rgb));
//  background: linear-gradient(
//      to bottom,
//      transparent,
//      rgb(var(--background-end-rgb))
//    )
//    rgb(var(--background-start-rgb));
//}
